
#--------------------------- GENERAL DEFAULTS --------------------------------#
SECRET_KEY=b^S:=de;rw-yK{_F9j?[`,qeR{R_b9
TOKEN_LENGTH=6

#-------------------------- DATABASE CONFIGURATION ---------------------------#
DATABASE_NAME=realty_db
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_HOST=localhost
DATABASE_PORT=5432

