
#--------------------------- GENERAL DEFAULTS --------------------------------#
SECRET_KEY=b^S:=de;rw-yK{_F9j?[`,qeR{R_b9
DEBUG=True
TOKEN_LENGTH=6
OTP_TOKEN_EXPIRES_IN_MINUTES=10
JWT_TOKEN_EXPIRES_IN_MINUTES=300

#-------------------------- DATABASE CONFIGURATION ---------------------------#
DATABASE_NAME=realty_db
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_HOST=localhost
DATABASE_PORT=5432

#--------------------------EMAIL CONFIGURATION ------------------------------#
EMAIL_HOST = Env.get('EMAIL_HOST')
EMAIL_PORT = Env.get('EMAIL_PORT')
EMAIL_USE_TLS = True
EMAIL_HOST_USER = Env.get('EMAIL_HOST_USER')
EMAIL_HOST_PASSWORD = Env.get('EMAIL_HOST_PASSWORD')
