
#--------------------------- GENERAL DEFAULTS --------------------------------#
SECRET_KEY=b^S:=de;rw-yK{_F9j?[`,qeR{R_b9
DEBUG=True
TOKEN_LENGTH=6
OTP_TOKEN_EXPIRES_IN_MINUTES=10
JWT_TOKEN_EXPIRES_IN_MINUTES=300

#-------------------------- DATABASE CONFIGURATION ---------------------------#
DATABASE_NAME=realty_db
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_HOST=localhost
DATABASE_PORT=5432

#--------------------------EMAIL CONFIGURATION ------------------------------#
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=
