[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
black = "*"
ruff = "*"
pre-commit = "*"
mypy = "*"
commitizen = "*"
dotenv-linter = "*"
python-dotenv = "*"
psycopg2-binary = "*"
envguardian = "*"
pyjwt = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
"migrate" = "python manage.py migrate"
"migration:make" = "python manage.py makemigrations"
server = "python manage.py runserver"
